@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin,cyrillic-ext);

body{
  font-family: 'Roboto Condensed', sans-serif;
  background: rgba( 71, 147, 227, 1);
}

label{
  color: white;
  font-size: 20px;
}

h1{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

form{
  text-align: center;
}

input, button{
  width: 150px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}



/* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 0px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
}

.fl-table thead th {
  color: #ffffff;
  background: #324960;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #d4d4d4;
}